<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-secondary mb-5">Waiter app</h2>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>