
/* body{
    background-color:#ddd;
} */

.full { 
    width: 80px;
    height: 80px;
    background-color: green}
.short { 
    width: 80px;
    height: 80px;
    background-color: orange}
.empty { 
    width: 80px;
    height: 80px;
    background-color: crimson}

.over {
    width: 80px;
    height: 80px;
    background-color: #333;
}